/* фирменный синий #2196F3 */

/* фирменный черный #000000 */

/* черный для заголовков  #212121 */

/* белый для заголовков #FFFFFF */

/* основной #757575 */

/* белый прозрачный rgba(255, 255, 255, 0.6); */

/* задник темный #2F303A; */

/* задник серый #F5F4FA; */

:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-bgc: #2F303A;
    --secondary-bgc: #F5F4FA;
    --wtite-color: #FFFFFF;
    --black-color: #000000;
    --transparent-white: rgba(255, 255, 255, 0.6);
}

.list {
    list-style: none;
}

/* Body */

body {
    background-color: var(--wtite-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Logo */

.logo {
    color: var(--accent-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
} 

.header-logo {
    color: var(--black-color);
}

.footer-logo {
    color: var(--wtite-color);
}

/* Site nav */

.site-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link.current {
    color: var(--accent-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-text-color);
}

.contacts-nav .link{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-text-color);
}

/* Hero */

.hero {
    background-color: var(--primary-bgc);
}



.hero-title {
    color: var(--wtite-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Section */

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Feature */

.feature-subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

/* Наша команда */

.section-team {
    background-color: var(--secondary-bgc);
}

.team-subtitle {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list .text {
    font-size: 16px;
    line-height: 1.19; 
}

/* Button */

.button {
    color: var(--wtite-color);
    background-color: var(--accent-text-color);
    font-family: inherit;
    cursor: pointer;
}

.button.primary {
    color: var(--wtite-color);
    background-color: var(--accent-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
}

.button.secondary {
    color: var(--title-text-color);
    background-color: var(--secondary-bgc);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
}

.button.primary:hover,
.button.primary:focus {
    color: var(--wtite-color);
    background-color: #188CE8;
}

.button.secondary:hover,
.button.secondary:focus,
.button.secondary:active {
    color: var(--wtite-color);
    background-color: var(--accent-text-color);
}

/* Footer */

.page-footer {
    background-color: var(--primary-bgc);
}

.location-footer {
    color: var(--wtite-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
}

.contact-footer {
    color: var(--transparent-white);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    text-decoration: none;
}

.contact-footer:hover,
.contact-footer:focus {
    color: var(--secondary-bgc);
}

/* Portfolio */

.portfolio-subtitle {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-list .text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

.portfolio-list .link {
    text-decoration: none;
}